

<div class="block block--project"> 
    <div class="block__img">
        <a href="{{ link }}" target="_blank">
            <img 
                src="img/projects/{{ filename }}.png" 
                srcset="img/projects/{{ filename }}.png, 
                        img/projects/{{ filename }}@2x.png 2x"
            >
        </a>
    </div>
    <div class="block__content">
        <p>
            <a class="link" href="{{ link }}" target="_blank">
                {{ name }}
            </a>
        </p>
        {# <ul class="ul">
            {% for skill in skills %}
                <li class="li p">{{ skill }}</li>
            {% endfor %}
        </ul> #}
    </div>
</div>